---
import Layout from "../layouts/Layout.astro";
import Showcase from "../components/Showcase.astro";
import janzen_avatar from "../images/janzen-avatar.png";
---

<Layout title="About me">

	<Showcase 
		heading="About me" 
		text="Sekilas tentang saya..." />

	<section class="my-5 py-5" id="about-me">
		<div class="container my-5">

			<div class="row">

				<div class="col-lg-6 text-center">
					<img src={janzen_avatar} alt="Janzen Avatar" class="img img-fluid">

				</div>

				<div class="col-lg-6">
					<p class="display-1 fw-bold">
						I am Janzen Faidiban
					</p>
					<p class="fs-1">
						Senang dipanggil <span class="bg-warning px-2 fw-bold">Janzen</span>
					</p>
					<p>
						Pasion saya di Teknologi Informasi. Saya senang hal-hal yang berkaitan dengan teknologi. Secara khusus teknologi web / internet.
					</p>

					<h3>Nokensoft</h3>
					<p>
						Di Nokensoft saya merupakan Web Developer yang bertugas membuat dan mengembangkan perangkat lunak dan sistem informasi.
					</p>
					<h3>SaCode</h3>
					<p>SaCode merupakan komunitas teknologi di Papua & Papua Barat. Di SaCode, saya senang berkontribusi dalam menjalankan kegiatan-kegiatan komunitas. Selain itu saya juga terlibat aktif mengajar pada kursus yang diselenggarakan di SaCode.</p>
				</div>

			</div>

			
		</div>
	</section>
	
</Layout>
