---
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Showcase.astro';
import Card from '../components/Card.astro';

const posts = await Astro.glob('../posts/youtube-tutorial/*.md');
---

<Layout title="Youtube Tutorial">
  <Showcase 
    heading="Youtube Tutorial" 
    text="Some of my articles..." />

  <section class="my-5 py-5" id="skill">
    <div class="container">
      <div class="row">
        {posts.map(post => (
        <div class="col-lg-4 col-sm-6">
          <div class="card mb-3 shadow">
          <Card>
            <div class="card-body p-5">
              <h3 class="fw-bolder">
                
                {post.frontmatter.title}
              </h3>
              
              <p>{post.frontmatter.excerpt}</p> 
              
              <a class="btn btn-dark" href={`${post.frontmatter.youtube}`} target="_blank">
                <i class="fa-solid fa-play me-1"></i>
                Tampilkan Video
                </a>

            </div> 
            <div class="card-footer d-flex justify-content-between px-5">
              <small>
                Written by <strong>{post.frontmatter.author} </strong> on {new Date(post.frontmatter.date).toLocaleDateString()}
              </small>
            </div>
          </Card>
        </div>
        </div>
        
      ))}
      </div>
      
    </div>
  </section>
  
</Layout>