<footer class="footer bg-dark text-secondary">
  <div class="container">
    <div class="row py-5">
      <div class="col-12 text-center">
          <p>
            Copyright &copy; 2022 - <b>JanzenNotes</b>
          </p>
      </div>
    </div>
  </div>
</footer>
