---
import janzen_avatar from "../images/janzen-avatar.png";
---

<header class="header bg-dark fixed-top border-bottom border-warning border-5 py-3">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid d-flex flex-wrap justify-content-between">
        <div>
          <a class="navbar-brand fw-bolder link-light" href="/">
            JanzenNotes
          </a>
        </div>
        <div>
          <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-dark" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="./">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./about-me">About me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./youtube-tutorial"> <i class="fa-brands fa-youtube"></i> Youtube Tutorials</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                More
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="https://github.com/janzenfaidiban" target="_blank">
                    <i class="fa-brands fa-github me-2"></i>GitHub
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="https://instagram.com/janzen.faidiban" target="_blank">
                    <i class="fa-brands fa-instagram me-2"></i>Instagram
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="https://www.linkedin.com/in/janzen-faidiban/" target="_blank">
                    <i class="fa-brands fa-linkedin me-2"></i>LinkedIn
                  </a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="https://www.youtube.com/channel/UCndriPA_3XFX9NsHn651tWQ" target="_blank">
                    <i class="fa-brands fa-youtube me-2"></i>Youtube Channel
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        </div>
      </div>
    </nav>
  </div>
</header>